body{
	color:#fff; font:12px/1.5 '微软雅黑';
}
.page{
	position:absolute;
	top:0;left:0;
	right:0;bottom:0;
}
.hide{
	display:none;
}

/*****************************主页********************************/
#index{
	margin: 0 auto;
	text-align:center;
	background:url(../src/bg.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}

#index img{
	margin:35px 20px;
}
#index .btn-play{
	margin:120px auto;
}
#index #help{
	margin-top: -135px;
	height:50px; font-size:16px;
	color:#555; font-weight: 800;
	text-align:center;
}

/***************************游戏界面********************************/
/*****************************头部**********************************/
#room header{
	position:absolute;
	top:0;left:0;
	width:100%; height:50px;
	line-height:50px;
	text-align:center;
	font-size:22px;
	color:#FFA1A1;
}

/************计分***********/
#room header .lv{
	position:absolute;
	font-weight:600; 
	height:50px;left:10px;top:0;
	color:#000;
}
#room header .lv em{
	font-style:normal;
}
/*关卡数*/
#room header .lvx{
	position:absolute;
	top:5px; right:10px;
	height:30px; width:60px; line-height:30px;
	padding:0 3px; margin:0;
	color:#000; border:3px solid #000;
	display:inline-block;
	letter-spacing:1px; font-weight:700; outline:0;
	border-radius:50px; border:3px solid #000;
	font-size:20px; font-family:'微软雅黑';
	-webkit-tap-highlight-color:transparent;
}
/*倒计时时间*/
#room header .time{
	font-weight:700;
	background-color:#FD9090;
	color:#FFCACA;
	padding:4px 10px;
	border-radius:10px;
}
#room header .time.danger{
	color:#FF0505;
	background-color:#ccc;
}
/***************************游戏界面********************************/
/***************************游戏盒子********************************/
#box .lv1,#box .lv2,#box .lv3,#box .lv4,#box .lv5,#box .lv6,#box .lv7,#box .lv8 #box2,#box .lv8 #box1,#box .lv9{
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	margin:auto;
	text-align:center;
}
#box .tips{
	margin-top:80px; margin-bottom: 30px;
	height:30px; line-height:30px;
	font-size:26px; font-weight: 600;
	color:#FF4343; font-family: '华文琥珀';
}
#box .tips.reward{
	font-family: '方正姚体';font-size:24px;
}
#box .lv5 .tips,#box .lv6 .tips{
	margin-top:150px;
}
#box .lv8 .tips{margin-top:50px; margin-bottom: 10px;}
#box .lv1 .board{
	background:url(../src/1.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv2 .board,#box .lv8 #box1 .board{
	background:url(../src/2.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv3 .board{
	background:url(../src/3.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv4 .board,#box .lv8 #box2 .board{
	background:url(../src/4.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv5 .board{
	background:url(../src/5.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv6 .board,#box .lv9 .board{
	background:url(../src/6.jpg) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv7 #triangle{ /*yy */
	background:url(../src/7.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv7 #triangle_dotted{ /*yy */
	background:url(../src/8.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv7 #ring{
	background:url(../src/9.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
#box .lv1 .board,#box .lv2 .board,#box .lv9 .board{
	width:150px; height:200px;
	margin:0px auto;
}
#box .lv3 .board,#box .lv4 .board{
	width:80px; height:200px;
	position:absolute; 
}
#box .lv5 .board,#box .lv6 .board{
	height:100px;width:100px;
	top:100px;
	position:absolute;
}
#box .lv7 #triangle{
	height:120px;width:120px;
	top:65px;
	position:absolute;
}
#box .lv7 #ring{
	height:95px;width:95px;
	top:200px;
	position:absolute;
}
#box .lv8 #box1 .board{
	width:150px; height:150px;
	margin:10px auto 0;
}
#box .lv8 #box2 .board{
	width:80px; height:150px;
	position:absolute; 
	margin-top: 275px;
}
#box .lv1 .dotted,#box .lv2 .dotted,#box .lv9 .dotted{
	width:145px; height:190px;
	margin:-200px auto 15px;
	border:5px dashed #000;
}
#box .lv3 .dotted,#box .lv4 .dotted{
	width:80px; height:200px;
	margin:-5px auto 15px;
	border:5px dashed #000;
}
#box .lv5 .dotted,#box .lv6 .dotted{
	width:100px; height:100px;
	margin:140px auto 15px;
	border:5px dashed #000;
}
#box .lv7 #triangle_dotted{
	width:122px; height:87px;
	top:346px; left:40px;
	position:absolute;
}
#box .lv7 #ring_dotted{
	width:95px; height:95px;
	top:335px; right:40px;
	position: absolute;
	border:3px dashed #000;border-radius:50%;
}
#box .lv8 #box1 .dotted{
	width:145px; height:140px;
	margin:-150px auto 10px;
	border:5px dashed #000;
}
#box .lv8 #box2 .dotted{
	width:80px; height:150px;
	border:5px dashed #000;
	margin:270px auto 15px;
}
#box .dotted.prompt{
	border:5px dashed red;
}
#box .help-tips{
	color:#E37979;
	font-weight: 600; font-size:24px;
	font-family: '方正姚体';
}
#box .lv7 .help-tips7{/*yy*/
	margin-top: 330px;
}
/**************************游戏对话框********************************/
#dialog{
	padding-top:50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	background:url(../src/bg.png) no-repeat ;
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
}
/*gameover界面*/
#dialog .gameover{
	height:90%; width:100%;
	text-align:center; font-size:20px;
	padding-top:30px;
	position:absolute;
	top:0;left:0;right:0;bottom:0;
}
#dialog .inner-content{
	height:200px; width:100%;	
	text-align:center;
}
#dialog img{
	margin:50px auto 0px;
}
#dialog .gameover #scoreShow{
	line-height:60px; height: 60px;
	font-size:24px;
	font-weight:600; 
	color:#000;
	margin:-150px auto 0px;
}
#dialog .gameover #comment{
	font-size:24px;
	font-weight:700; 
	color:#666; font-family: '方正姚体';
	padding: 0 20px;
	margin:60px auto 0px;
}
#dialog .btn-restart{margin:35px auto 0;}
/***********************按钮**********************/
.btn{
	border:none;
	color:#fff;
	cursor:pointer;
	display:inline-block;margin:10px 0; 
	letter-spacing:1px; font-weight:700; outline:0;
	position:relative; background:#E7CF25;
	border-radius:50px; box-shadow:0 5px #E5B42C;
	font-size:20px; /*font-family:'微软雅黑';*/
	height:50px; width:130px; line-height:50px;
	-webkit-tap-highlight-color:transparent;
}

/* 横屏 */
@media all and (orientation:landscape){
	#index{
		height: 100%;width: 50%;
	}
	#index #title{
		width: 70%;
	}
	#room header{height:100%; width:90px;}
	#room header .lv{left:10px;}
	#room header .time{
		display:inline-block; height:50px; width:70%;
		padding:0;position:absolute; top:50%;left:10px;margin-top:-25px
	}
	#room header .lvx{
		display:inline-block;
		padding:0;position:absolute; 
		top:90%;left:10px;
	}
	#box{top:0;left:80px}
	#dialog{padding-top:0; padding-left:80px;width: 50%;margin: 0 auto;}
}
